/*
 * Copyright (C) 2011 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "am3517.dtsi"

/ {
	model = "TI AM3517 EVM (AM3517/05 TMDSEVM3517)";
	compatible = "ti,am3517-evm", "ti,am3517", "ti,omap3";

    vmmc_fixed: vmmc {
        compatible = "regulator-fixed";
        regulator-name = "vmmc_fixed";
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
    };

	memory {
		device_type = "memory";
		reg = <0x80000000 0x10000000>; /* 256 MB */
	};
    /*Set GPIO3 to 3.3V output always enabled*/
    wlan_en_reg: fixedregulator@2 {
                compatible = "regulator-fixed";
                regulator-name = "wlan-en-regulator";
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;

                /*GPIO3 pin that drives WLAN_EN*/
                gpio = <&gpio1 3 0>;

                startup-delay-us = <70000>;
                enable-active-high;
     };
};

&omap3_pmx_wkup {
    wl12xx_wkup_pins: pinmux_wl12xx_wkup_pins {
        pinctrl-single,pins = <
            0x00c (PIN_OUTPUT | MUX_MODE4)       /*sys_boot1.gpio_3 - WLAN_EN*/ 
            0x010 (PIN_INPUT_PULLUP | MUX_MODE4)       /*sys_boot1.gpio_5 - SCL*/
            0x016 (PIN_INPUT_PULLUP | MUX_MODE4)       /*sys_boot1.gpio_8 - SDA*/
        >;
    };
};

&omap3_pmx_core {
    otg_drv_vbus: pinmux_otg_drv_vbus {
        pinctrl-single,pins = <
            0x212 (PIN_OUTPUT | MUX_MODE0)  /* usb0_drvvbus.usb0_drvvbus */
        >;
    };

    i2c1_pins: pinmux_i2c1_pins {
        pinctrl-single,pins = <
            0x18a (PIN_INPUT | MUX_MODE0)   /* i2c1_scl.i2c1_scl */
            0x18c (PIN_INPUT | MUX_MODE0)   /* i2c1_sda.i2c1_sda */
        >;
    };

    i2c2_pins: pinmux_i2c2_pins {
        pinctrl-single,pins = <
            0x18e (PIN_INPUT | MUX_MODE0)   /* i2c2_scl.i2c2_scl */
            0x190 (PIN_INPUT | MUX_MODE0)   /* i2c2_sda.i2c2_sda */
        >;
    };

    i2c3_pins: pinmux_i2c3_pins {
        pinctrl-single,pins = <
            0x192 (PIN_INPUT | MUX_MODE0)    /* i2c3_scl.i2c3_scl */
            0x194 (PIN_INPUT | MUX_MODE0)    /* i2c3_sda.i2c3_sda */
        >;
    };

    mmc2_pins: pinmux_mmc2_pins {
        pinctrl-single,pins = <
            0x128 (PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc2_clk.sdmmc2_clk */
            0x12a (PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc2_cmd.sdmmc2_cmd */
            0x12c (PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc2_dat0.sdmmc2_dat0 */
            0x12e (PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc2_dat1.sdmmc2_dat1 */
            0x130 (PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc2_dat2.sdmmc2_dat2 */
            0x132 (PIN_INPUT_PULLUP | MUX_MODE0)	/* sdmmc2_dat3.sdmmc2_dat3 */
            0x134 (PIN_INPUT_PULLUP | MUX_MODE1)     /* sdmmc2_dat4.sdmmc2_dir_dat0 */
            0x136 (PIN_INPUT_PULLUP | MUX_MODE1)     /* sdmmc2_dat5.sdmmc2_dir_dat1 */
            0x138 (PIN_INPUT_PULLUP | MUX_MODE1)     /* sdmmc2_dat6.sdmmc2_dir_cmd */
            0x13a (PIN_INPUT_PULLUP | MUX_MODE1)     /* sdmmc2_dat7.sdmmc2_clkin */
        >;
    };

    wl12xx_core_pins: pinmux_wl12xx_core_pins {
		pinctrl-single,pins = <
			0x196 (PIN_INPUT_PULLUP | MUX_MODE4)	 /* hdq_sio.gpio_170 - WLAN_IRQ*/
            		0x126 (PIN_OUTPUT_PULLDOWN | MUX_MODE4)  /* sdmmc1_dat7.gpio_129 - WLAN_nOE */
		>;
	};
};

&am35x_otg_hs {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&otg_drv_vbus>;
    clocks = <&hsotgusb_ick_am35xx>, <&hsotgusb_fck_am35xx>;
    clock-names = "hsotgusb_ick", "hsotgusb_fck";
    compatible = "ti,am35x-musb";
};

&usbhshost {
    /* Will be initialized in pdata-quirks */
    status = "disabled";
};

&usbhstll {
    status = "disabled";
};

/*&aes {
    status = "disabled";
};

&sham {
    status = "disabled";
};

&smartreflex_core {
    status = "disabled";
};*/

&usb_otg_hs {
    status = "disabled";
};

&davinci_emac {
	status = "okay";
};

&davinci_mdio {
	status = "okay";
};

&i2c1 {
	clock-frequency = <400000>;

    pinctrl-names = "default";
    pinctrl-0 = <&i2c1_pins>;

    status = "okay";

    s35390a: s35390a@30 {
         compatible = "sii,s35390a";
         reg = <0x30>;
    };
};

&i2c2 {
	clock-frequency = <400000>;

    pinctrl-names = "default";
    pinctrl-0 = <&i2c2_pins>;

    status = "okay";
};

&i2c3 {
	clock-frequency = <400000>;

    pinctrl-names = "default";
    pinctrl-0 = <&i2c3_pins>;

    status = "okay";
};

&mmc1 {
    vmmc-supply = <&vmmc_fixed>;
	bus-width = <4>;
};

&mmc2 {
      status = "okay";
      ti,non-removable;
      vmmc-supply = <&wlan_en_reg>;
      bus-width = <4>;
      cap-power-off-card;
      pinctrl-names = "default";
      pinctrl-0 = <&mmc2_pins>, <&wl12xx_core_pins>, <&wl12xx_wkup_pins>;

      #address-cells = <1>;
      #size-cells = <0>;
      wlcore: wlcore@2 {
          compatible = "ti,wl1271";
          nOE = <&gpio5 1 0>;
          reg = <2>;
          interrupt-parent = <&gpio6>;
          interrupts = <10 IRQ_TYPE_LEVEL_HIGH>;
          ref-clock-frequency = <26000000>;
      };
};

&mmc3 {
      status = "disabled";
};

&gpmc {
	ranges = <0 0 0x00000000 0x20000000>;

	nand@0,0 {
		linux,mtd-name= "micron,nand";
		reg = <0 0 4>;	/* CS0, offset 0, IO size 4 */
		nand-bus-width = <16>;
		gpmc,device-width = <2>;
		ti,nand-ecc-opt = "sw";

        gpmc,cs-on-ns = <0>;
        gpmc,cs-rd-off-ns = <36>;
        gpmc,cs-wr-off-ns = <36>;

        gpmc,adv-on-ns = <6>;
        gpmc,adv-rd-off-ns = <24>;
        gpmc,adv-wr-off-ns = <36>;

        gpmc,we-on-ns = <6>;
        gpmc,we-off-ns = <30>;

        gpmc,oe-on-ns = <6>;
        gpmc,oe-off-ns = <48>;

        gpmc,page-burst-access-ns = <6>;
        gpmc,access-ns = <54>;
        gpmc,cycle2cycle-delay-ns = <60>;

        gpmc,rd-cycle-ns = <72>;
        gpmc,wr-cycle-ns = <72>;
        gpmc,wr-access-ns = <30>;
        gpmc,wr-data-mux-bus-ns = <0>;

		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "xloader";
			reg = <0 0x80000>;
		};
		partition@0x80000 {
			label = "uboot";
			reg = <0x80000 0x1e0000>;
		};
		partition@0x260000 {
			label = "uboot environment";
			reg = <0x260000 0x40000>;
		};
		partition@0x2a0000 {
			label = "linux";
			reg = <0x2a0000 0x800000>;
		};
		partition@0xaa0000 {
			label = "oftree";
			reg = <0xaa0000 0x80000>;
		};
		partition@0xb20000 {
			label = "rootfs";
			reg = <0xb20000 0x1f4e0000>;
		};
	};

};
