/*
 * Copyright (C) 2011 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "am3517.dtsi"

/ {
	model = "TI AM3517 EVM (AM3517/05 TMDSEVM3517)";
	compatible = "asd,fs5-am3517", "ti,am3517", "ti,omap3";

    vmmc_fixed: vmmc {
        compatible = "regulator-fixed";
        regulator-name = "vmmc_fixed";
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
    };

	memory {
		device_type = "memory";
		reg = <0x80000000 0x10000000>; /* 256 MB */
	};

    fpga_spectro: fpga_spectro {
        compatible = "asd,fs5";

        pinctrl-names = "default";
        pinctrl-0 = <&fpga_pins>;

        bidi-gpios = <&gpio2 4 0
                      &gpio2 5 0
                      &gpio2 6 0
                      &gpio2 7 0
                      &gpio2 8 0
                      &gpio2 9 0
                      &gpio2 10 0
                      &gpio2 11 0>;
        ndata-gpios = <&gpio2 22 GPIO_ACTIVE_LOW>;
        naddr-gpios = <&gpio2 2 GPIO_ACTIVE_LOW>;
        nwrite-gpios = <&gpio2 3 GPIO_ACTIVE_LOW>;
        nwait-gpios = <&gpio2 31 0>;
        nreset-gpios = <&gpio5 22 GPIO_ACTIVE_LOW>;
        nint3-gpios = <&gpio5 23 0>;
        nint-gpios = <&gpio2 29 0>;
    };
};

&omap3_pmx_core {
    otg_drv_vbus: pinmux_otg_drv_vbus {
        pinctrl-single,pins = <
            0x212 (PIN_OUTPUT | MUX_MODE0)  /* usb0_drvvbus.usb0_drvvbus */
        >;
    };

    i2c1_pins: pinmux_i2c1_pins {
        pinctrl-single,pins = <
            0x18a (PIN_INPUT | MUX_MODE0)   /* i2c1_scl.i2c1_scl */
            0x18c (PIN_INPUT | MUX_MODE0)   /* i2c1_sda.i2c1_sda */
        >;
    };

    i2c2_pins: pinmux_i2c2_pins {
        pinctrl-single,pins = <
            0x18e (PIN_INPUT | MUX_MODE0)   /* i2c2_scl.i2c2_scl */
            0x190 (PIN_INPUT | MUX_MODE0)   /* i2c2_sda.i2c2_sda */
        >;
    };

    i2c3_pins: pinmux_i2c3_pins {
        pinctrl-single,pins = <
            0x192 (PIN_INPUT | MUX_MODE0)    /* i2c3_scl.i2c3_scl */
            0x194 (PIN_INPUT | MUX_MODE0)    /* i2c3_sda.i2c3_sda */
        >;
    };

    /* This is the one on the analog board */
    ana_mux_pins: pinmux_ana_mux_pins {
        pinctrl-single,pins = <
            0x112 (PIN_INPUT_PULLUP | MUX_MODE4)    /* mcbsp2_dx.gpio_119 - GPIO_INT3# */
        >;
    };

    /* This is the one on the power board */
    pwr_mux_pins: pinmux_pwr_mux_pins {
        pinctrl-single,pins = <
            0x10e (PIN_INPUT_PULLUP | MUX_MODE4)    /* mcbsp2_clkx.gpio_117 - GPIO_INT1# */
        >;
    };

    fpga_pins: pinmux_fpga_pins {
        pinctrl-single,pins = <
            0x04e (PIN_INPUT | MUX_MODE4)           /* gpmc_a3.gpio_36 - BiDi[0] */
            0x050 (PIN_INPUT | MUX_MODE4)           /* gpmc_a4.gpio_37 - BiDi[1] */
            0x052 (PIN_INPUT | MUX_MODE4)           /* gpmc_a5.gpio_38 - BiDi[2] */
            0x054 (PIN_INPUT | MUX_MODE4)           /* gpmc_a6.gpio_39 - BiDi[3] */
            0x056 (PIN_INPUT | MUX_MODE4)           /* gpmc_a7.gpio_40 - BiDi[4] */
            0x058 (PIN_INPUT | MUX_MODE4)           /* gpmc_a8.gpio_41 - BiDi[5] */
            0x05a (PIN_INPUT | MUX_MODE4)           /* gpmc_a9.gpio_42 - BiDi[6] */
            0x05c (PIN_INPUT | MUX_MODE4)           /* gpmc_a10.gpio_43 - BiDi[7] */

            0x04c (PIN_OUTPUT_PULLUP | MUX_MODE4)   /* gpmc_a2.gpio_35 - nWRITE_STROBE */
            0x04a (PIN_OUTPUT_PULLUP | MUX_MODE4)   /* gpmc_a1.gpio_34 - nADDR_STROBE */
            0x084 (PIN_OUTPUT_PULLUP | MUX_MODE4)   /* gpmc_ncs3.gpio_54 - nDATA_STROBE */
            0x09e (PIN_INPUT | MUX_MODE4)           /* gpmc_wait1.gpio_63 - nWAIT */
            0x110 (PIN_OUTPUT_PULLUP | MUX_MODE4)   /* mcbsp2_dr.gpio_118 - nFGPA_RESET */
            0x112 (PIN_INPUT_PULLUP | MUX_MODE4)    /* mcbsp2_dx.gpio_119 - nGPIO_INT3 */
            0x098 (PIN_INPUT | MUX_MODE4)           /* gpmc_nbe1.gpio_61 - INTERRUPT */
        >;
    };

    uart1_pins: pinmux_uart1_pins {
        pinctrl-single,pins = <
            0x14c (PIN_OUTPUT | MUX_MODE0)  /* uart1_tx.uart1_tx */
            0x152 (PIN_INPUT | MUX_MODE0)  /* uart1_rx.uart1_rx */
        >;
    };

    mcspi2_pins: pinmux_mcspi2_pin {
        pinctrl-single,pins = <
            0x1a6 (PIN_OUTPUT | MUX_MODE0)          /* mcspi2_clk.mcspi2_clk */
            0x1a8 (PIN_OUTPUT | MUX_MODE0)          /* mcspi2_simo.mcspi2_simo */
            0x1aa (PIN_INPUT | MUX_MODE0)           /* mcspi2_somi.mcspi2_somi */
            0x1ac (PIN_OUTPUT_PULLUP | MUX_MODE0)   /* mcspi2_cs0.mcspi2_cs0 */
        >;
    };
};

&am35x_otg_hs {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&otg_drv_vbus>;
    clocks = <&hsotgusb_ick_am35xx>, <&hsotgusb_fck_am35xx>;
    clock-names = "hsotgusb_ick", "hsotgusb_fck";
    compatible = "ti,am35x-musb";
};

&usbhshost {
    /* Will be initialized in pdata-quirks */
    status = "disabled";
};

&usbhstll {
    status = "disabled";
};

/*&aes {
    status = "disabled";
};

&sham {
    status = "disabled";
};

&smartreflex_core {
    status = "disabled";
};*/

&usb_otg_hs {
    status = "disabled";
};

&davinci_emac {
	status = "okay";
};

&davinci_mdio {
	status = "okay";
};

&i2c1 {
	clock-frequency = <400000>;

    pinctrl-names = "default";
    pinctrl-0 = <&i2c1_pins>;

    status = "okay";

    s35390a: s35390a@30 {
         compatible = "sii,s35390a";
         reg = <0x30>;
    };
};

&i2c2 {
	clock-frequency = <100000>;

    pinctrl-names = "default";
    pinctrl-0 = <&i2c2_pins>;

    status = "okay";

    battery: sbs-battery@b {
        compatible = "ti,bq20z65", "sbs,sbs-battery";
        reg = <0xb>;
        battery-name = "battery";
        sbs,poll-retry-count = <2>;
        sbs,i2c-retry-count = <100>;
    };
};

&i2c3 {
	clock-frequency = <400000>;

    pinctrl-names = "default";
    pinctrl-0 = <&i2c3_pins>;

    status = "okay";
};

&uart1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&uart1_pins>;
};

&mmc1 {
    vmmc-supply = <&vmmc_fixed>;
	bus-width = <4>;
};

&mmc2 {
      status = "disabled";
};

&mmc3 {
      status = "disabled";
};

/*&mcspi2 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&mcspi2_pins>;
};*/

&gpmc {
	ranges = <0 0 0x00000000 0x20000000>;

	nand@0,0 {
		linux,mtd-name= "micron,nand";
		reg = <0 0 4>;	/* CS0, offset 0, IO size 4 */
		nand-bus-width = <16>;
		gpmc,device-width = <2>;
		ti,nand-ecc-opt = "sw";

        gpmc,cs-on-ns = <0>;
        gpmc,cs-rd-off-ns = <36>;
        gpmc,cs-wr-off-ns = <36>;

        gpmc,adv-on-ns = <6>;
        gpmc,adv-rd-off-ns = <24>;
        gpmc,adv-wr-off-ns = <36>;

        gpmc,we-on-ns = <6>;
        gpmc,we-off-ns = <30>;

        gpmc,oe-on-ns = <6>;
        gpmc,oe-off-ns = <48>;

        gpmc,page-burst-access-ns = <6>;
        gpmc,access-ns = <54>;
        gpmc,cycle2cycle-delay-ns = <60>;

        gpmc,rd-cycle-ns = <72>;
        gpmc,wr-cycle-ns = <72>;
        gpmc,wr-access-ns = <30>;
        gpmc,wr-data-mux-bus-ns = <0>;

		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "xloader";
			reg = <0 0x80000>;
		};
		partition@0x80000 {
			label = "uboot";
			reg = <0x80000 0x1e0000>;
		};
		partition@0x260000 {
			label = "uboot environment";
			reg = <0x260000 0x40000>;
		};
		partition@0x2a0000 {
			label = "linux";
			reg = <0x2a0000 0x800000>;
		};
		partition@0xaa0000 {
			label = "oftree";
			reg = <0xaa0000 0x80000>;
		};
		partition@0xb20000 {
			label = "rootfs";
			reg = <0xb20000 0x1f4e0000>;
		};
	};

};
